{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <form method="post" class="form-inline my-form">
                    <div class="mx-sm-3">
                        <input type="text" class="form-control" name="code" id="code" placeholder="Wpisz kod" required pattern="[0-9]{8}[a-z]{2}">
                    </div>
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </form>

                {% for code in codes %}
                    <div class="row p-1">
                        <div class="col ml-4">
                            {{ code.code }}
                        </div>
                        <div class="col">
                            {% if code.isCorrect %}
                                prawidłowy
                            {% else %}
                                nieprawidłowy
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}